@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-seri;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}
header{
    background-color: ghostwhite;
    width: 100vw;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vh 2.5vw;
}
.logo {
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.logo-img{
    width: 50px;
    height: 50px;
}
.logo .name {
    color: black;
    font-size: 1em;
    font-weight: 500;
}
.nav {
    display: flex;
    align-items: center;
}
.nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 0.5em;
    padding: 0.5em;
}
.pad{
    padding: 70px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 20vh;
    padding: 10px;
}
.div p{
    margin: 10px;
    font-size: 1em;
    font-weight: 300;
    line-height: 30px;
}
.zero {
    background-color: black;
    color: whitesmoke;
}
.div img{
    max-width: 100%;
    min-height: 10vh;
}

@media only screen and (min-width: 768px) {

.logo-img{
    width: 100px;
    height: 100px;
}
.logo .name {
    color: black;
    font-size: 1.2em;
    font-weight: 500;
}
.nav a {
    color: black;
    font-weight: 500;
    font-size: 1em;
    padding: 1em;
}
.pad{
    padding: 130px 15px;
}
.div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    min-height: 40vh;
    padding: 50px;
}
.div p{
    max-width: 30%;
    font-size: 1.5em;
    font-weight: 300;
}
.div img{
    max-width: 40%;
    min-height: 20vh;
    border: 5px solid gainsboro;
}
}